{% extends "station_layout.html" %}
<!--title part-->
{% block title %}Booked list{% endblock %}
<!--head part-->
{% block head %} {{ super() }}
<style>
	table {
		font-family: 'Roboto' sans-serif;
		border-collapse: collapse;
		width: 100%;
	}
	table tr:nth-child(even) {
		background-color: #eeeeee;
	}
	.table th {
		padding-top: 14px;
		padding-bottom: 14px;
		text-align: left;
		background-color: #1976d2;
		color: white;
		letter-spacing: 0.5px;
		user-select: none;
		border-right: 0.5px solid #bbdefb;
		font-family: Bahnschrift SemiBold;
	}
	table td {
		border-right: 0.5px solid #bbdefb;
		height: 70px;
	}
	table td,
	table th {
		border-bottom: 0.5px solid #bbdefb;
	}
	table tr:hover {
		background-color: #e3f2fd;
		cursor: pointer;
	}
</style>
{% endblock %}
<!--content part-->
{% block content %}
{% if data %}
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">Seats</th>
				<th scope="col">Train ID</th>
				<th scope="col">Location</th>
				<th scope="col">Date</th>
				<th scope="col">No of childrens</th>
				<th scope="col">No of senior citizens</th>
				<th scope="col">Accept</th>
				<th scope="col">Reject</th>
			</tr>
		</thead>
		<tbody>

		{% for i in data %}
			<tr>
				<td>{{i.name}}</td>
				<td>{{i.email}}</td>
				<td>{{i.seat_no}}</td>
				<td>{{i.train_id}}</td>
				<td>{{i.location}}</td>
				<td>{{i.date}}</td>
				<td>{{i.child}}</td>
				<td>{{i.old}}</td>
				<td><a href="/reserve_success/{{i.id}}"> <button class="btn btn-success" type="submit">
            <i class="fa fa-check" aria-hidden="true"></i>
          </button></a></td>
				<td><a href="/reserve_error/{{i.id}}"><button class="btn btn-danger" type="submit">
            <i class="fa fa-times" aria-hidden="true"></i>
				</button></a></td>
			</tr>
		{% endfor %}


		</tbody>
	</table>

</div>
{% else %}
			<p style="color:red;text-align:center;font-size:30px;">No Reservations Yet</p>
		{% endif %}
{% endblock %}
