{% extends "station_layout.html" %}
<!--title part-->
{% block title %}Change Password{% endblock %}
<!--head part-->
{% block head %} {{ super() }}
<style>
  .card {
    margin-top: 40px;
  }

  #button1 {
    margin-top: 20px;
    width: 190px;
    border-radius: 50px;
    background-color: #1565c0;
    color: white;
    margin-bottom: 20px;
  }
  #adm-tab {
    font-family: Bahnschrift SemiBold;
    text-decoration: none;
    color: #7e57c2;
  }
  .card-title {
    text-align: center;
    font-family: Bahnschrift SemiBold;
    font-size: 25px;
  }
</style>
{% endblock %}
<!--content part-->
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Change Password</div>
        <div class="card-body">
          <div class="container">
            <form action="/change_station_pass" method="POST">
              <div class="mb-3" style="margin-top: 10px">
                <label class="form-label">Station Name</label>
                <input type="text" name="name" class="form-control" required />
              </div>
              <div class="mb-3">
                <label class="form-label">New Password </label>
                <input
                  type="password"
                  class="form-control"
                  name="pass1"
                  required
                />
              </div>
              <div class="mb-3">
                <label class="form-label"> Re-enter Password </label>
                <input
                  type="password"
                  class="form-control"
                  name="pass2"
                  required
                />
              </div>

              <div class="row justify-content-center">
                <button type="submit" id="button1" class="btn btn-primarys">
                  Submit
                </button>
              </div>
            </form>
            <div style="text-align: end">
              <button
                type="button"
                class="btn btn-primarys"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                style="background-color: #1565c0; color: white"
              >
                <i
                  class="fa fa-question-circle"
                  aria-hidden="true"
                  style="font-size: 20px"
                ></i>
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5
                        class="modal-title"
                        id="exampleModalLabel"
                        style="font-family: Bahnschrift SemiBold"
                      >
                        Password Rules
                      </h5>

                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body" style="text-align: left">
                      Minimum Length Must Be 8.Must Contain a Capital
                      Letter.Must Contain a Number. Must Contain Symbol _ or @
                      or $.Must Not Contain white Spaces.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />
{% endblock %}
