{% extends "station_layout.html" %}
<!--title part-->
{% block title %}Reset Seats{% endblock %}
<!--head part-->
{% block head %} {{ super() }}
<style>
  .card {
    margin-top: 40px;
  }

  #button1 {
    margin-top: 20px;
    width: 190px;
    border-radius: 50px;
    background-color: #1565c0;
    color: white;
    margin-bottom: 20px;
  }
  #adm-tab {
    font-family: Bahnschrift SemiBold;
    text-decoration: none;
    color: #7e57c2;
  }
  .card-title {
    text-align: center;
    font-family: Bahnschrift SemiBold;
    font-size: 25px;
  }
  h4 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-family: Bahnschrift SemiBold;
  }

  h4 span {
    background: #fff;
    padding: 0 10px;
  }
</style>
{% endblock %}
<!--content part-->
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Reset Seats</div>
        <div class="card-body">
          <div class="container">
            <form action="/reset_seats" method="post">
              <div class="mb-3">
                <label class="form-label">Train ID </label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  name="train"
                  required
                >
                  {% if train %} {% for i in train %}
                  <option>{{i.train_id}}</option>
                  {% endfor %} {% else %}
                  <option>No Trains available currently</option>
                  {% endif %}
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label"> Train Id </label>
                <select class="form-select" aria-label="Default select example" name="date">
                  {% if train %}
                  {% for i in train %}
                  <option>{{i.date}}</option>
                  {% endfor %}
                  {% else %}
                  <option>Currently no dates Available</option>
                  {% endif %}

                </select>
              </div>
              <div class="row justify-content-center">
                {% if train %}
                <button type="submit" id="button1" class="btn btn-primary">
                  Reset
                </button>
                {% else %}
                <button
                  type="submit"
                  id="button1"
                  class="btn btn-primary"
                  disabled
                >
                  Reset
                </button>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />

{% endblock %}
