{% extends "Admin-layout.html" %}
<!--title part-->
{% block title %}Station Registration{% endblock %}
<!--head part-->
{% block head %} {{ super() }}
<style>
	.card {
		margin-top: 40px;
	}

	#button1 {
		margin-top: 20px;
		width: 190px;
		border-radius: 50px;
		background-color: #1565c0;
		color: white;
		margin-bottom: 20px;
	}
	#adm-tab {
		font-family: Bahnschrift SemiBold;
		text-decoration: none;
		color: #7e57c2;
	}
	.card-title {
		text-align: center;
		font-family: Bahnschrift SemiBold;
		font-size: 25px;
	}
	h4 {
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #000;
		line-height: 0.1em;
		margin: 10px 0 20px;
		font-family: Bahnschrift SemiBold;
	}

	h4 span {
		background: #fff;
		padding: 0 10px;
	}
</style>
{% endblock %}
<!--content part-->
{% block content %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-header">Station Registration Form</div>
				<div class="card-body">
					<div class="container">
						<form method="POST" action="/reg_station">
							<div class="mb-3" style="margin-top: 10px">
								<label class="form-label">Station Name </label>
								<input type="text" class="form-control" name="station_name" required />
							</div>
							<div class="mb-3">
								<label class="form-label">Station location</label>
								<input type="text" class="form-control" name="station_location" required />
							</div>
							<div class="mb-3">
								<label class="form-label">Station Pincode</label>
								<input type="text" class="form-control" name="station_code" required />
							</div>
							<br />
							<h4><span> Admin Details</span></h4>
							<br />
							<div class="mb-3" style="margin-top: 10px">
								<label class="form-label"> Name </label>
								<input type="text" class="form-control" name="admin_name" required />
							</div>
							<div class="mb-3">
								<label class="form-label">Email</label>
								<input type="email" class="form-control" name="email" required />
							</div>
							<div class="mb-3">
								<label class="form-label">Phone</label>
								<input type="tel" class="form-control" name="phno" minlength="10" maxlength="10" required />
							</div>
							<div class="row justify-content-center">
								<button type="submit" id="button1" class="btn btn-primarys">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br /><br />
{% endblock %}
