{% extends "station_layout.html" %}
<!--title part-->
{% block title %}Station dash{% endblock %}
<!--head part-->
{% block head %} {{ super() }}
<style>
	#img {
		height: 250px;
	}

	.card-title {
		text-align: center;
		font-family: Bahnschrift SemiBold;
		font-size: 25px;
	}
	@media (min-width: 300px) and (max-width: 350px) {
		#card1 {
			margin-top: 20px;
		}
	}
	/*meduim mobile phones*/
	@media (min-width: 350px) and (max-width: 400px) {
		#card1 {
			margin-top: 20px;
		}
	}
	/*large mobile phones*/
	@media (min-width: 400px) and (max-width: 500px) {
		#card1 {
			margin-top: 20px;
		}
	}
	/*tablet*/

	/*tablet mode*/
	@media (min-width: 600px) and (max-width: 800px) {
		.card-title {
			font-size: 20px;
		}
	}
	@media (min-width: 800px) and (max-width: 1050px) {
	}
</style>
{% endblock %}
<!--content part-->
{% block content %}

<div class="container" style="margin-top: 70px">
	<div class="row">
		<div class="col-sm-4">
			<div class="card" id="card1">
				<img src="{{url_for('static', filename='station.jpg')}}" class="card-img-top" id="img" alt="image1" />
				<div class="card-body">
					<h5 class="card-title">Station</h5>
					<h1 style="text-align: center; margin-top: 20px; margin-bottom: 20px">{{data[1]}}</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card" id="card1">
				<img src="{{url_for('static', filename='train.jpg')}}" class="card-img-top" id="img" alt="image2" />
				<div class="card-body">
					<h5 class="card-title">Train</h5>
					<h1 style="text-align: center; margin-top: 20px; margin-bottom: 20px">{{data[0]}}</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card" id="card1">
				<img src="{{url_for('static', filename='passenge1.jpg')}}" id="img" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">Passenger</h5>
					<h1 style="text-align: center; margin-top: 20px; margin-bottom: 20px">{{data[2]}}</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<br /><br />

{% endblock %}
