{% extends "layout.html" %}
<!--title part-->
{% block title %}Station Admin FP{% endblock %}
<!--head part-->
{% block head %} {{ super() }}
<style>
  .card {
    margin-top: 70px;
  }

  #button1 {
    margin-top: 20px;
    width: 150px;
    border-radius: 50px;
    background: url("static/back1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    margin-bottom: 20px;
  }
  .card-header {
    background: url("static/back1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 70px;
    font-family: Bahnschrift SemiBold;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 28px;
  }
</style>
{% endblock %}
<!--content part-->
{% block content %}
<div
  style="
    background: url('static/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 722px;
  "
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <div class="card">
          <div class="card-header">
            <p style="margin-top: 8px">Station Admin Password Recovery</p>
          </div>
          <div class="card-body">
            <div class="container">
              <div class="row justify-content-center">
                <form action="/change_admin_pass" method="POST">
                  <div class="mb-3" style="margin-top: 30px">
                    <label class="form-label"
                      >New Password &nbsp;
                      <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                      </a>
                    </label>

                    <input
                      type="password"
                      class="form-control"
                      name="pass1"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Re-Enter Password</label>
                    <input
                      type="password"
                      class="form-control"
                      name="pass2"
                      required
                    />
                  </div>

                  <div class="row justify-content-center">
                    <button type="submit" id="button1" class="btn btn-primarys">
                      Submit
                    </button>
                  </div>
                  <!-- Button trigger modal -->

                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5
                            class="modal-title"
                            id="exampleModalLabel"
                            style="font-family: Bahnschrift SemiBold"
                          >
                            Password Rules
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body" style="text-align: left">
                          Minimum Length Must Be 8.Must Contain a Capital
                          Letter.Must Contain a Number. Must Contain Symbol _ or
                          @ or $.Must Not Contain white Spaces.
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
