{% extends "station_layout.html" %}
<!--title part-->
{% block title %}Add Seat{% endblock %}
<!--head part-->
{% block head %} {{ super() }}
<style>
  .card {
    margin-top: 40px;
  }

  #button1 {
    margin-top: 20px;
    width: 190px;
    border-radius: 50px;
    background-color: #1565c0;
    color: white;
    margin-bottom: 20px;
  }
  #adm-tab {
    font-family: Bahnschrift SemiBold;
    text-decoration: none;
    color: #7e57c2;
  }
  .card-title {
    text-align: center;
    font-family: Bahnschrift SemiBold;
    font-size: 25px;
  }
</style>
{% endblock %}
<!--content part-->
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Add Seat</div>
        <div class="card-body">
          <div class="container">
            <form action="/add_seat_data" method="POST">
              <div class="mb-3" style="margin-top: 10px">
                <label class="form-label">Date</label>
                <input type="date" name="date" class="form-control" required />
              </div>
              <div class="mb-3">
                <label class="form-label">No. Of Seats </label>
                <input type="text" class="form-control" name="seat"  placeholder="eg:20" required />
              </div>
              <div class="mb-3">
                <label class="form-label"> Train Id </label>
                <select class="form-select" aria-label="Default select example" name="train">
                  {% if data %}
                  {% for i in data %}
                  <option>{{i.id}}</option>
                  {% endfor %}
                  {% else %}
                  <option>Currently no trains Available</option>
                  {% endif %}

                </select>
              </div>

              <div class="row justify-content-center">
                <button type="submit" id="button1" class="btn btn-primarys">
                  Submit
                </button>
              </div>
            </form>
    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />
{% endblock %}
