{% extends "user_layout.html" %}
<!--title part-->
{% block title %}Booked History{% endblock %}
<!--head part-->
{% block head %} {{ super() }}
<style>
  table {
    font-family: "Roboto" sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  table tr:nth-child(even) {
    background-color: #eeeeee;
  }
  .table th {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    background-color: #1976d2;
    color: white;
    letter-spacing: 0.5px;
    user-select: none;
    border-right: 0.5px solid #bbdefb;
    font-family: Bahnschrift SemiBold;
  }
  table td {
    border-right: 0.5px solid #bbdefb;
    height: 70px;
  }
  table td,
  table th {
    border-bottom: 0.5px solid #bbdefb;
  }
  table tr:hover {
    background-color: #e3f2fd;
    cursor: pointer;
  }
</style>
{% endblock %}
<!--content part-->
{% block content %}
{% if data %}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Train ID</th>
        <th scope="col">Ticket No</th>
        <th scope="col">To</th>
        <th scope="col">Date</th>
        <th scope="col">Total Seats Booked</th>
        <th scope="col">Cancelation</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data %}
      <tr>
        <td>{{i.train_id}}</td>
        <td>{{i.ticket_no}}</td>
        <td>{{i.location}}</td>
        <td>{{i.date}}</td>
        <td>{{i.seat_no}}</td>
        <td>
          <a href="/cancel/{{i.id}}"><button class="btn btn-danger" type="submit">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% else %}
			<p style="color:red;text-align:center;font-size:30px;">No Tickets Yet</p>
		{% endif %}


{% endblock %}


